.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-transform: capitalize  ;
  font-weight: bold;
}
